---
import { Image } from 'astro:assets'
import {profile} from '../../settings'
import SocialIcons from './SocialIcons.astro'
import ProfilePictures from '@/assets/profile.png'
import { getCollection } from 'astro:content'
import { template } from '@/settings'

const isBlogPopulated = await getCollection('blog').then(collection => collection.length > 0)

const {fullName, title} = profile
---
<aside
	class="px-4 pt-4 h-screen w-[16rem] bg-blue-900 text-white flex flex-col"
>
	<div class='flex flex-col my-8 justify-between h-full'>
		<div>
			<div class='flex justify-center items-center flex-col'>
				<h1 class="text-3xl text-white font-bold font-poppins tracking-tight"> <span>{fullName}</span></h1>
			</div>
			<div class='mx-4 mt-16'>
				<ul class='space-y-4 menu grow shrink menu-md overflow-y-auto'>
					<li>
                        <a href={`${template.base}/`} class="text-lg text-white hover:text-gray-300 transition-colors duration-200">Home</a>
					</li>
					<li>
                        <a href={`${template.base}/research`} class="text-lg text-white hover:text-gray-300 transition-colors duration-200">Research</a>
					</li>
					<li>
                        <a href={`${template.base}/papers`} class="text-lg text-white hover:text-gray-300 transition-colors duration-200">Papers</a>
					</li>
					<li>
                        <a href={`${template.base}/cv`} class="text-lg text-white hover:text-gray-300 transition-colors duration-200">CV</a>
                    </li>
                    {isBlogPopulated &&
					<li>
                        <a href={`${template.base}/blog/1`} class="text-lg text-white hover:text-gray-300 transition-colors duration-200">Blog</a>
</li>
                    }
				</ul>
			</div>
		</div>
		<div class='mx-4'>
			<SocialIcons colorClass="text-white" />
		</div>
	</div>
</aside>
