---
import { Image } from 'astro:assets'
import {profile} from '../../settings'
import SocialIcons from './SocialIcons.astro'
import ProfilePictures from '@/assets/profile.png'
import { getCollection } from 'astro:content'
import { template } from '@/settings'
import BetterIcon from "@/components/ui/BetterIcon.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";

const isBlogPopulated = await getCollection('blog').then(collection => collection.length > 0)

const {fullName, title} = profile
---
<aside
	class="px-4 pt-4 h-screen w-[16rem] bg-blue-900 text-white flex flex-col"
>
	<div class='flex flex-col my-8 justify-between h-full'>
		<div>
			<div class='flex justify-center items-center flex-col'>
				<h1 class="text-3xl text-white font-bold font-poppins tracking-tight"> <span>{fullName}</span></h1>
			</div>
			<div class='mx-4 mt-16'>
				<ul class='space-y-4 menu grow shrink menu-md overflow-y-auto'>
					<li>
                        <a href={`${template.base}`} class="text-lg text-white hover:text-gray-300 transition-colors duration-200">
							<BetterIcon>
              					<svg
             						xmlns="http://www.w3.org/2000/svg"
                					viewBox="0 0 24 24"
                					fill="none"
                					stroke="white"
                					stroke-width="2"
                					class="size-6 bg-transparent"
              					>
                					<path
                  						stroke-linecap="round"
                  						stroke-linejoin="round"
                  						d={RESEARCH_ICONS['home'].path}
                					/>
              					</svg>
            				</BetterIcon>
								Home
						</a>
					</li>
					<!-- <li>
                        <a href={`${template.base}research`} class="text-lg text-white hover:text-gray-300 transition-colors duration-200">
							<BetterIcon>
              					<svg
             						xmlns="http://www.w3.org/2000/svg"
                					viewBox="0 0 24 24"
                					fill="none"
                					stroke="white"
                					stroke-width="2"
                					class="size-6 bg-transparent"
              					>
                					<path
                  						stroke-linecap="round"
                  						stroke-linejoin="round"
                  						d={RESEARCH_ICONS['research'].path}
                					/>
              					</svg>
            				</BetterIcon>
							Research
						</a>
					</li> -->
					<li>
                        <a href={`${template.base}papers`} class="text-lg text-white hover:text-gray-300 transition-colors duration-200">
							<BetterIcon>
              					<svg
             						xmlns="http://www.w3.org/2000/svg"
                					viewBox="0 0 24 24"
                					fill="none"
                					stroke="white"
                					stroke-width="2"
                					class="size-6 bg-transparent"
              					>
                					<path
                  						stroke-linecap="round"
                  						stroke-linejoin="round"
                  						d={RESEARCH_ICONS['papers'].path}
                					/>
              					</svg>
            				</BetterIcon>
							Papers
						</a>
					</li>
					<li>
                        <a href={`${template.base}CV_GonzatoElia.pdf`} target="_blank" class="text-lg text-white hover:text-gray-300 transition-colors duration-200">
							<BetterIcon>
              					<svg
             						xmlns="http://www.w3.org/2000/svg"
                					viewBox="0 0 24 24"
                					fill="none"
                					stroke="white"
                					stroke-width="2"
                					class="size-6 bg-transparent"
              					>
                					<path
                  						stroke-linecap="round"
                  						stroke-linejoin="round"
                  						d={RESEARCH_ICONS['cv'].path}
                					/>
              					</svg>
            				</BetterIcon>
							CV
						</a>
                    </li>
                    {isBlogPopulated &&
					<li>
                        <a href={`${template.base}/blog/1`} class="text-lg text-white hover:text-gray-300 transition-colors duration-200">Blog</a>
</li>
                    }
				</ul>
			</div>
		</div>
		<div class='mx-4'>
			<SocialIcons colorClass="text-white" />
		</div>
	</div>
</aside>
